@model Dictionary<String, IList<Record>>
@using FeiXian.Entity;
@{
    var last = ViewBag.Last as IList<Record>;
}
<div>
    <h1>代码之巅，天外飞仙！</h1>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <h3>@item.Key</h3>
        <div class="col-md-8">
            <table class="table border-area">
                @foreach (var rc in item.Value)
                {
                    <tr>
                        <td>
                            <div><h3><a href="~/" title="每秒处理速度">@rc.Score.ToString("n0")</a><sub>TPS</sub> &nbsp; @rc.Name</h3></div>
                            <div>@rc.Processor</div>
                            <div class="text-big"> @rc.Config</div>
                            <div style="margin-top: 10px;">
                                <div class="col-md-6">
                                    <span title="主频"><i class="glyphicon glyphicon-heart" style="color: deeppink;"></i> @rc.Frequency.ToString("n0") MHz</span>
                                    <span title="内部"><i class="glyphicon glyphicon-star" style="color: mediumpurple;"></i> @rc.Memory.ToString("n0") MB</span>
                                </div>
                                <div class="col-md-6 text-right">@rc.CreateTime.ToFullString()</div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    <div class="col-md-4">
        <table class="table border-area">
            <thead>最新提交</thead>
            @foreach (var rc in last)
            {
                <tr>
                    <td>
                        <div><h3><a href="~/" title="每秒处理速度">@rc.Score.ToString("n0")</a><sub>TPS</sub> &nbsp; @rc.Name</h3></div>
                        <div>@rc.Processor</div>
                        <div>
                            <div class="col-md-6">
                                <span title="主频"><i class="glyphicon glyphicon-heart" style="color: deeppink;"></i> @rc.Frequency.ToString("n0") MHz</span>
                                <span title="内部"><i class="glyphicon glyphicon-star" style="color: mediumpurple;"></i> @rc.Memory.ToString("n0") MB</span>
                            </div>
                            <div class="col-md-6 text-right">@rc.CreateTime.ToFullString()</div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>